.connect{

  @mixin atSmall{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: 4rem repeat(2, 1fr) 11rem; 
  }

  /* address heading */
  &__address-heading{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;

    @mixin atSmall{
      text-align: left;
    }
  }


  /* map */
  &__map-image{
    display: none;

    @mixin atSmall{
      display: block;
      grid-column: 1/-1;
      grid-row: 2/4;
    }

  }


  &__map-address{
    grid-column: 1/4;
    grid-row: 4/5;
    text-align: center;

    @mixin atSmall{
      text-align: left;
    }

  }
  

  /* social media links */
  &__social-media{
    grid-column: 1/2;
  }

  & ul li{
    margin-bottom: 11px;
  }

  & ul li a{
    font-family: $ff-josefin;
    color: $clr-black;
    transition: all 200ms ease-in-out;
    
    &:hover{
      color: $clr-crayola-violet;
    }
  }

  /* volunteer */
  &__volunteer{
    grid-column: 2/4;

    & p{
      max-width: 23rem;
      margin: 0 auto;
    }
  }

  /* social media links & volunteer */
  &__social-media, &__volunteer{
    align-self: center;
    text-align: center;
    grid-row: 5/6;
  }

}