.heading{
  font-family: $ff-josefin;
  
  
  &--banner{
    color: #fff;
    font-size: clamp(2.5rem, 1vw + 3rem, 4rem);
    line-height: 1;
  }

  &__footer{
    font-family: $ff-statisy;
    text-align: center;
  }

  &__footer--white{
    font-size: 22px;
  }

  &--blue{
    color: $clr-sky-blue;
  }

  &__profile{
    text-align: center;
    line-height: 1.5;

    @mixin atSmall{
      text-align: left;
    }
  }

  &__footer--funders{
    font-size: clamp(1.875rem, 1vw + 1rem,  2.5rem);
    margin-bottom: 1.5rem;
    margin-top: 4rem;
  }
  
}