.page-banner{
 position: relative;
 background-color: rgb(204, 201, 201);
 /* padding: 130px 0 233px 0; */
 margin-bottom: 7rem;

 &--home{

  @mixin atMedium {
    /* padding-bottom: 300px; */
  }

  @mixin atXLarge {
    /* padding-bottom: 500px; */
  }

  @mixin atXXLarge {
    /* padding-bottom: 700px; */
  }

 }

 &__bg-image{
   position: relative;
   background-image: url('/assets/images/banner.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 650px;
   /* min-height: 500px; */

   @mixin atSmall{
    background-attachment: fixed;
   }
 }


 &__bg-image--home{
  min-height: 800px;
 }

 &__bg-image--black-mamas-glowing{
  background-image: linear-gradient(rgba(20, 20, 20, 0.527),rgba(0, 0, 0, 0.2)), url('/assets/images/black-mamas-glowing-hero-image.png');
 }

 &__content{
  position: absolute;
  top:50%; /*makes the text center vertically */
  transform: translateY(-50%); /*makes the text center vertically */
  left: 0;
  width: 100%; /* makes the text center horizontally */
  text-align: center; /* makes the text center horizontally */
 }


}

